<main class="container home">
  <div class="row home-header">
    <div class="col-md-1 mr-auto">
      <button id="new-project-button" class="btn btn-primary mr-auto">New</button> 
      <div id="new-project-popover" class="project-popover is-hidden">
        <div class="form-group">
          <input type="text" placeholder="Name this project" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <button id="cancel-project-popover" class="btn btn-secondary">Cancel</button>
      </div>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Projects</h3> 
    </div>
    <div class="col-md-1 ml-auto">
      <button class="btn ml-auto">...</button> 
    </div>
  </div>  
  <div class="row home-projects">
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Dummy Project</h4>
        <p>A first project card, just a placeholder for now though.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Wonderful Project</h4>
        <p>A second project card, just a placeholder for now though.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>Another!</h4>
        <p>A third project card, just a placeholder for now though.</p>
      </a>
    </div>
    <div class="col-md-4 project-col">
      <a href="#" class="project-card">
        <h4>And a Fourth</h4>
        <p>A fourth project card, just a placeholder for now though.</p>
      </a>
    </div>
  </div>
</main>